<nav class="left-nav">
    <ul>
        <li {{#ifEqual page "CREATE"}}class="selected"{{/ifEqual}}><a href="/portal/contributor/create">Create Pixtory</a></li>
        <li {{#ifEqual page "PUSHED"}}class="selected"{{/ifEqual}}><a href="/portal/contributor/pushedPixtories">Pixtories In App</a></li>
        <li {{#ifEqual page "SUBMITTED"}}class="selected"{{/ifEqual}}><a href="/portal/contributor/submittedPixtories">All Pixtories</a></li>
        <li {{#ifEqual page "NOTIF"}}class="selected"{{/ifEqual}}><a href="/portal/contributor/notifications">Notifications</a></li>
    </ul>
</nav>
