<div class="container u-full-width top-bar">
    <div class="row">
        <div class="one column">
            <img src="/images/logo.png" class="pixtory-logo"/>
        </div>
        <div class="eleven columns align-right">
            Welcome, John Doe
        </div>
    </div>
</div>
