<div class="container top-bar v-offset-25">
    <div class="row">
        <div class="one column">
            <img src="/portal/images/logo.png" class="pixtory-logo"/>
        </div>
        <div class="eleven columns user-profile align-right">
            <div class="jsUserName">Welcome</div>
            <a href="/portal/contributor/notifications"><div class="notif-count-cont jsNotifCount"><span class="notif-icon">&nbsp;</span></div></a>
            <div class="user-image">
                <div class="jsUserImage"></div>
                <ul class="user-dd hidden">
                    <li class="jsLogout">Logout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
