<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pixtory Curation Tool</title>
    <link type="text/css" rel="stylesheet"  href="/stylesheets/normalize.css" />
    <link type="text/css" rel="stylesheet"  href="/stylesheets/skeleton.css" />
    <link type="text/css" rel="stylesheet"  href="/stylesheets/styles.css" />
    <!-- Google authentication script -->
    <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
    {{>top-bar}}
    <div class="container u-full-width content-body">
        <div class="row">
            <div class="two columns">
                {{#ifNotEqual page "LOGIN"}}
                {{>contributor-nav}}
                {{/ifNotEqual}}
            </div>
            <div class="ten columns">
                <!-- container for error messages -->
                <div class="row">
                    <div class="twelve columns msg-error hidden jsError"></div>
                </div>
                {{{body}}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-handlebars-1.1.5.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/js.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/events.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    {{#ifEqual page "LOGIN"}}
    <script type="text/javascript" src="/javascripts/login.js"></script>
    {{else}}
    <script type="text/javascript" src="/javascripts/check-login.js"></script>
    {{/ifEqual}}
    <!-- Login initialization script -->
    <script type="text/javascript" src="/javascripts/login-init.js"></script>
    <script type="text/javascript">
        /* handlebars templating configs */
        $.handlebars({
            templatePath: "/templates",
            templateExtension: "hbs"
        });
    </script>
    <!-- Include page specific scripts -->
    {{#ifEqual page "CREATE"}}
    <script type="text/javascript" src="/javascripts/create-pixtory.js"></script>
    {{/ifEqual}}
    {{#ifEqual page "PUSHED"}}
    <script type="text/javascript" src="/javascripts/contrib-pixtory-list.js"></script>
    {{/ifEqual}}
</body>
</html>
