/* utility classes */
.hidden {
    display: none;
}

.align-left {
    text-align: left;
    display: inline-block;
}

.align-right {
    text-align: right;
    display: inline-block;
}

.v-offset-15 {
    margin-bottom: 15px;
}

/* utility classes end */

.msg-error {
    border: 1px solid #d16666;
    background-color: #e8b2b2;
    color: #c94c4c;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 30px;
}

/* top bar CSS */

.pixtory-logo {
    width: 50px;
}

.top-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.content-body {
    padding: 20px;
}

/* left nav CSS */

.left-nav li {
    list-style-type: none;
}

.left-nav a {
    padding: 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.left-nav a:hover, .left-nav li.selected a {
    background-color: #26BAFF;
    color: #FFF;
}

/* Contributor Pixtory List Page CSS */

.pixtory-thumbnail {
    height: 250px;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.thumbnail-likes {
    text-align: right;
    color: #FFF;
    padding: 10px;
}

.thumbnail-likes::before {
    content: "\2665";
    margin-right: 5px;
}

.thumbnail-title {
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
}

.pixtory-title {
    font-weight: bold;
    text-transform: uppercase;
}

.back-btn::before {
    content: " ";
    display: inline-block;
    background-image: url("/images/back.png");
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.back-btn:hover {
    cursor: pointer;
}

.comment-blk {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.comment-blk::before {
    content: " ";
    display: inline-block;
    background-image: url("/images/user-icon.png");
    background-size: contain;
    width: 50px;
    height: 50px;
    float: left;
}

.comment-blk::after {
    content: "";
    display: block;
    clear: both;
}
