<form>
    <div class="row">
        <div class="three columns">
            <label for="pixtoryImage">Upload Picture</label>
        </div>
        <div class="nine columns">
            <input class="jsPixtoryImage" type="file" id="pixtoryImage">
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <label for="pixtoryStory">Story</label>
        </div>
        <div class="nine columns">
            <textarea class="jsPixtoryStory" type="file" id="pixtoryStory" placeholder="Enter Story"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <input class="button-primary jsCreatePixtory" type="submit" value="Submit">
        </div>
    </div>
</form>
