<div class="row">
    <div class="twelve columns">
        <dl>
            <dt>Why can’t I edit/ delete my Pixtory?</dt>
            <dt>How will my images be cropped?</dt>
            <dt>How long does does it take for my Pixtories to come in the app?</dt>
            <dt>What’s a Pixtory?</dt>
            <dt>Why can’t I post in the app directly?</dt>
            <dt>Why can’t I see my Pixtory? And what should I do?</dt>
            <dt>Why should I login with the same account (facebook/ google) in the tool as well as the app?</dt>
            <dt>What does the status icons on the Pixtories mean?</dt>
            <dt>What does the different tabs - In the App, All Pixtories mean in this tool mean?</dt>
            <dt>Why can I see only my Pixtory?</dt>
            <dt>Why can’t I change my profile picture?</dt>
            <dt>What is the point of using this tool?</dt>
            <dt>Can you explain categories to me? - add this to the content playbook</dt>
            <dt>Why do you push only 10 Pixtories everyday?</dt>
            <dt>Can users search for me in the app?</dt>
            <dt>What should I do to opt out from my images being used as Wallpaper?</dt>
            <dt>My pictures aren’t edited properly, I don’t like them - what should I do?</dt>
            <dt>Can I refer  contributors to Pixtory?</dt>
        </dl>
    </div>
</div>
