<div class="row faq">
    <div class="twelve columns">
        <dl>
            <dt>What’s a Pixtory?</dt>
            <dd>Pixtory = Picture + Story</dd>

            <dt>Why should I login with the same account (facebook/ google) in the tool as well as the app?</dt>
            <dd>We need you to login to the contributor tool and the app with the same account (either facebook or google) because that will help us map your profiles on both end so that any activity in the app performed by you (likes/ comment) is reflected on the tool also.</dd>

            <dt>What is the point of using this Contributor tool?</dt>
            <dd>
                <p>This Contributor web tool helps you manage all the buzz around your Pixtory. Using this tool, you can create new Pixtories, stay updated on the stages of processing of your Pixtories and catch up with your fans - respond to likes and comments all from one place.</p><p>Since we do not have in-app posts yet, you can only create your Pixtories through this web tool.</p>
            </dd>

            <dt>Why can’t I post in the app directly?</dt>
            <dd>
                <p>Currently, in-app contributions aren’t available on Pixtory and also, contribution is not open to everyone. Only a few handpicked contributors create content for Pixtory.</p><p>These are the 2 reasons why we’ve kept contribution closed</p>
                <ol>
                    <li>To keep the quality of Pixtories high</li>
                    <li>To help users mature with the app - take value over time so that when contribution is open to everyone, we’ll not see a huge drop in quality</li>
                </ol>
                <p>Having said this, we want to move into a real time mode where we approve your Pixtories in a few hours and it is posted in the app. Will keep you updated on the changes.</p>
            </dd>

            <dt>How long does does it take for my Pixtories to come in the app?</dt>
            <dd>
                <p>After you upload your Pixtories on the web tool, we generally take anywhere from 3 days - 1 week to process your Pixtories. Processing the Pixtories involves image cropping, spell and grammar check, spacing check and adding categories.</p><p>Having said this, we want to move into a real time mode where we approve your Pixtories in a few hours and it is posted in the app. Will keep you updated on the changes.</p>
            </dd>

            <dt>What does the different tabs - In the App, All Pixtories mean in this tool mean?</dt>
            <dd>Create Pixtory - Section where you can create your new Pixtories<br/>
            Pixtories in the App - Your Pixtories approved by the Pixtory team which has been pushed into the app<br/>
            All Pixtories - All Pixtories uploaded by you<br/>
            Notifications - All notifications related to your Pixtory</dd>

            <dt>What does the status icons on the Pixtories mean?</dt>
            <dd>
                <p>Status icons are to indicate the current progress in the processing of Pixtories. Each status denotes something. Here are the different status’ a Pixtory can have</p>

            Submitted - All Pixtories submitted by a contributor<br />
            Processing - When the Pixtory team takes your Pixtories to processing (cropping, spell checks)<br />
            In the App - When the Pixtory team has processed and approved your Pixtory and it is pushed into the app<br />
            Rejected - When the Pixtory team has rejected your Pixtory<br />
            </dd>

            <dt>Rejected Pixtory - What is the selection criteria?</dt>
            <dd>
                <p>A Pixtory can be rejected for the following reasons</p>
                Picture - Picture cannot be cropped to fit vertical full screen size or the picture quality isn’t good<br />
                Story - The story doesn’t add value to a user
            </dd>

            <dt>How will my images be cropped?</dt>
            <dd>Pixtory app has a feed of visually beautiful vertical full screen images. We’ll crop your images to the standard size (1000*1752) we use in the app. In most cases, it is a direct cropping. But, in some cases, where cropping doesn’t work, we’ll re-purpose the images to a small extent.</dd>

            <dt>My pictures aren’t edited properly, I don’t like them - what should I do?</dt>
            <dd>In most cases, we only crop the pictures to fit the vertical full screen size. In case you’re not happy with how the picture is edited, please write to <a href="mailto:subbu@pixtory.in">subbu@pixtory.in</a> with your concerns.

            <dt>Why can’t I edit/ delete my Pixtory?</dt>
            <dd>
                <p>You can edit and delete your Pixtories only in the ‘Submitted’ stage. Once we take them into processing and later publish them, we arrange them in some particular order. Deleting the Pixtories later will disturb the arrangement and the feed logic of the app.</p><p>We will soon move towards a feed logic where you will have the complete control to edit/ delete your Pixtories whenever you want. Will keep you updated on the same.</p>
            </dd>

            <dt>Why can I see only my Pixtory?</dt>
            <dd>The web tool is created to help you manage your Pixtories. You can see all the Pixtories on the app.

            <dt>Why can’t I change my profile picture?</dt>
            <dd>When you sign in with facebook/ google, we take your picture uploaded in those account.
            We will be building out a feature to help you change the profile picture</dd>

            <dt>Why can’t I see my Pixtory? And what should I do?</dt>
            <dd>
                <p>The app feed is designed in such a way that you’ll see your Pixtories over time. For example, if you’ve submitted 5 Pixtories on week 1, we’ll work on the processing of these Pixtories and push it into the app over 5 different days. Currently, we’re working with one post per contributor per day.</p><p>Having said this, we’re redesigning our feed logic to make them real time and remove restrictions from our side.</p>
            </dd>

            <dt>Why do you push only 10 Pixtories everyday?</dt>
            <dd>This is something we have taken as an interim step before we move into a completely real time feed. The idea behind pushing 10 Pixtories is to give the users an optimal consumption experience and create a want to come back for more the following day since this is relatively a new concept.</dd>

            <dt>Can users search for me in the app?</dt>
            <dd>Currently, they can follow you when your Pixtories appear on the feed. Search feature will be developed by mid October, 2016.</dd>

            <dt>What should I do to opt out from my images being used as Wallpaper?</dt>
            <dd>
                <p>One of the most liked feature in Pixtory is the ability to set images as wallpaper. Users can even chose to let Pixtory change their wallpaper everyday automatically (Android only) or with one click (iOS)</p>
                For Android - we do not download your pictures into user’s phone, but set wallpaper via android <br/>
                For iOS - we download the pictures onto user’s devices with a watermark saying ‘created by __’
                To opt out of this feature, please send an email to <a href="mailto:subbu@pixtory.in">subbu@pixtory.in</a></b>
            </dd>
        </dl>
    </div>
</div>
