<div class="login-card">
    <img src="/portal/images/login-logo.png" class="login-pixtory-logo"/>
    <div class="tagline">Create, manage and catch all the buzz around your Pixtories with the Contributor Tool</div>
    <div class="social-cont">
        <div class="fb-btn jsLoginFb">
            <img src="/portal/images/fb.png"/>
            <span>Sign in with Facebook</span>
        </div>
        <div class="google-btn jsLoginGoogle">
            <img src="/portal/images/google.png"/>
            <span>Sign in with Google<span>
        </div>
    </div>
    <div class="login-help">
        <b>* What should I login with ?</b>
        <ol>
            <li>If you've used the app, use the same login here as well</li>
            <li>If you've not used the app, you can choose either facebook/ google, but make sure you use the same to login to the app as well</li>
        </ol>
    </div>
</div>
