<div class="login-card">
    <img src="/images/login-logo.png" class="login-pixtory-logo"/>
    <div class="social-cont">
        <div class="fb-btn jsLoginFb">
            <img src="/images/fb.png"/>
            <span>Sign in with Facebook</span>
        </div>
        <div class="google-btn jsLoginGoogle">
            <img src="/images/google.png"/>
            <span>Sign in with Google<span>
        </div>
    </div>
</div>
