<div class="jqThumbnailsCont">
    <label>
        Filter by
        <select class="h-offset-15 jqFilter">
            <option value="ALL">All</option>
            <option value="SUBMITTED">Submitted</option>
            <option value="PROCESSING">Processing</option>
            <option value="PUSHED">In the App</option>
            <option value="REJECTED">Rejected</option>
        </select>
    </label>
    <div class="jsPixtoryThumbnails">
        <img src="/portal/images/loader.gif" class="loader"/>
    </div>
</div>
<div class="jsPixtoryDetail"></div>
