<div class="row contest-body center">
    <div class="twelve columns center">
        <form class="form-group jsContestForm">
            <div class="jsStep1">
                <div class="contest-title v-offset-15">Create Pixtory</div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <div class="step-half">
                    <input type="text" name="username" placeholder="Name*" />
                    <input type="text" name="email" placeholder="Email*" />
                    <input type="text" name="phone" placeholder="Phone" />
                    <input type="text" name="website" placeholder="Website" />
                    <input type="text" name="instagram" placeholder="Instagram*" />
                    <div class="contest-next jsNext">Proceed to Submission &raquo;</div>
                </div>
            </div>
            <div class="step2 hidden jsStep2">
                <div class="step-half">
                    <div class="upload-stg-1 jsUpload1">
                        <label for="pixtoryImage" class="upload-msg">Upload an Image *</label>
                    </div>
                    <div class="hidden jsUpload2">
                        <div class="note-text v-offset-15"><b>Note:</b> Drag the picture left/ right to check if it fits into the portrait size
                            <br/>This is not the final image, we'll do the cropping from our end</div>
                        <div class="jsCroppie"></div>
                        <label class="change-btn" for="pixtoryImage">Change Image</label>
                    </div>
                    <input class="hidden jsPixtoryImage" type="file" name="image" id="pixtoryImage" />
                </div>
                <div class="step-half">
                    <input type="text" name="title" placeholder="Title*" />
                    <input type="text" name="location" placeholder="Location" />
                    <label class="font-normal">
                        <select name="category1">
                            <option value="-1">Category 1 *</option>
                            <option value="1">Short Read</option>
                            <option value="2">Long Read</option>
                            <option value="3">Poem</option>
                            <option value="4">Perspective</option>
                            <option value="5">Humor</option>
                            <option value="6">Travel</option>
                            <option value="7">Fiction</option>
                            <option value="8">Knowledge</option>
                            <option value="9">Nature</option>
                            <option value="10">Wildlife</option>
                            <option value="11">People</option>
                            <option value="12">Culture</option>
                            <option value="13">Inspiration</option>
                            <option value="14">Outdoors</option>
                        </select>
                    </label>
                    <label class="font-normal">
                        <select name="category2">
                            <option value="-1">Category 2</option>
                            <option value="2">Long Read</option>
                            <option value="3">Poem</option>
                            <option value="4">Perspective</option>
                            <option value="5">Humor</option>
                            <option value="6">Travel</option>
                            <option value="7">Fiction</option>
                            <option value="8">Knowledge</option>
                            <option value="9">Nature</option>
                            <option value="10">Wildlife</option>
                            <option value="11">People</option>
                            <option value="12">Culture</option>
                            <option value="13">Inspiration</option>
                            <option value="14">Outdoors</option>
                        </select>
                    </label>
                    <input type="text" name="customCategory" placeholder="Custom Category" />
                    <textarea type="text" name="story" placeholder="Story*"></textarea>
                    <div class="v-offset-25">&nbsp;</div>
                    <input class="button-primary submit-btn jsCreatePixtory" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
