<div class="row contest-body center">
    <div class="twelve columns center">
        <form class="jsContestForm">
            <div class="jsStep1">
                <div class="contest-title v-offset-15">Create Pixtory</div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <div class="form-group">
                    <input class="jsName" type="text" name="username" placeholder="Name*" />
                    <input class="jsEmail" type="text" name="email" placeholder="Email*" />
                    <input class="jsPhone" type="text" name="phone" placeholder="Phone" />
                    <input class="jsWebsite" type="text" name="website" placeholder="Website" />
                    <input class="jsInstagram" type="text" name="instagram" placeholder="Instagram*" />
                    <div class="contest-next jsNext">Proceed to Submission &raquo;</div>
                </div>
            </div>
            <div class="step2 jsStep2 hidden">
                <div class="step-half step-left">
                    <label for="contestImage" class="contest-image jsImageName">Upload an Image *</label>
                    <input class="hidden jsPixImage" type="file" name="imageFile" id="contestImage"/>
                </div>
                <div class="step-half step-right form-group">
                    <input class="jsTitle" type="text" name="title" placeholder="Title*" />
                    <input class="jsLocation" type="text" name="location" placeholder="Location" />
                    <input class="jsCategory" type="text" name="category" placeholder="Category*" />
                    <textarea class="jsStory" type="text" name="story" placeholder="Story*"></textarea>
                    <div class="v-offset-25">&nbsp;</div>
                    <input class="button-primary contest-submit jsSubmit" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
