<div class="row contest-body center">
    <div class="twelve columns center">
        <form class="form-group jsContestForm">
            <div class="jsStep1">
                <div class="contest-title v-offset-15">Create Pixtory</div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <div class="step-half">
                    <input type="text" name="username" placeholder="Name*" />
                    <input type="text" name="email" placeholder="Email*" />
                    <input type="text" name="phone" placeholder="Phone" />
                    <input type="text" name="website" placeholder="Website" />
                    <input type="text" name="instagram" placeholder="Instagram*" />
                    <div class="contest-next jsNext">Proceed to Submission &raquo;</div>
                </div>
            </div>
            <div class="step2 hidden jsStep2">
                <div class="step-half">
                    <label for="contestImage" class="contest-image jsImageName">Upload an Image *</label>
                    <input class="hidden jsPixImage" type="file" name="imageFile" id="contestImage"/>
                </div>
                <div class="step-half">
                    <input type="text" name="title" placeholder="Title*" />
                    <input type="text" name="location" placeholder="Location" />
                    <input type="text" name="category" placeholder="Category*" />
                    <textarea type="text" name="story" placeholder="Story*"></textarea>
                    <div class="v-offset-25">&nbsp;</div>
                    <input class="button-primary submit-btn jsSubmit" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
